#body{
    margin: 100px;
    font-family: Calibri;
} 

#Logo{
    height: 70px;
    background-color: white;
    color: #8d8a89;
    font-family: Calibri;
    font-size: 30px;
    text-align: left;
}
    .logospoty{
        height: 70px;

    }

    #foto {
    height: 300px;
    width: 100%;



}
.img2{
    width: 100%;
    height: 300px;
}

#barranav{
    color: #ffffff;
    height: 50px;
    background-color: #da80c3;
    font-family: Calibri;
    font-size: 25px;

}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px 14px;
    overflow: hidden;
    display: block;
    text-align: center;
}

li {
    float: left;
    margin-left: 20px;
}

#cuerpo {

    height: 1000px;
    background-color: #f9f9f9;
    color: #000000;
    font-family: Calibri;
    font-size: 16px;
    text-align: center;

}
.cajanot {
    width: 60%;
    height: 80px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    background-color: #eec1e8;
    color: #000000;
    float: left;
    font-size: 30px;
    padding-top: 35px;
}
.caja1_1 {
    width: 300px;
    height: 300px;
    margin-left: 20%;
    margin-top: 20px;
    background-color: #eec1e8;
    float: left;
}
.imgcaja1{
    width: 270px;
    margin-top: 10px;
}
.caja1_2{
    width: 300px;
    height: 300px;
    margin-right: 20%;
    margin-top: 20px;
    background-color: #eec1e8;
    float: right;
}
.imgcaja2 {
    width: 200px;
    margin-top: 10px;
}
.caja2_1{
    width: 300px;
    height: 300px;
    margin-left: 20%;
    margin-top: 20px;
    background-color: #eec1e8;
    float: left;
}
.imgcaja3{
    width: 270px;
    margin-top: 10px;
    height: 220px;
}
.caja2_2{
    width: 300px;
    height: 300px;
    margin-right: 20%;
    margin-top: 20px;
    background-color: #eec1e8;
    float: right;
}
.imgcaja4{
    width: 270px;
    margin-top: 10px;
    height: 220px;
}
#pie {
    background-color: rgb(53, 73, 90);
    color: #b2babb;
    font-family: Calibri;
    text-align: center;
    font-weight: lighter;
}
